<!DOCTYPE html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="content-type" content="text/html;" charset="ISO-8859-1" />
	<link href="style.css" type="text/css" rel="stylesheet"/>
	<title>H-Day - XWING Random Generator</title>
	</head>
<body>

	<div id="header" style="width : 100%; height:10%">
		<img src="http://itkweb.com/hday/img/logo_hday.png" alt=""/>
		<br/>
		XWING Random Generator
	</div>
	
	<div id="content">
	
		<form class="contentSettings">
			<div class="parameters">
			
				<div style="display:inline-block">
					<label for="nbJoueurs_id" class="box_qte">Nombre de joueurs</label>
					<select name="audi_modele" id="nbJoueurs_id">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>
				<div style="float:right">
				<label for="nbPoints_id" class="box_qte">Nombre de points</label>
					<select name="audi_modele" id="nbPoints_id">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>
				
			</div>
			<div class="box">
				<div class="img_box">
					<img src="../images/ext_core-set.png" alt=""/>
					<br/>
				</div>
				<span class="box_title">Boite de base</span>
				<br/>
				<label for="nbBoite_id" class="box_qte">Quantité</label>
				<select name="audi_modele" id="nbBoite_id">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
			</div>
			<div class="box">
			{% for boite in list_boites %}
				<div class="img_box">
					<img src="{{ boite.image }}" alt=""/>
					<br/>
				</div>
				<span class="box_title">{{ boite.nom }}</span>
				<br/>
				<label for="nbBoite_id" class="box_qte">Quantité</label>
				<select name="audi_modele" id="nbBoite_id">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
			{% endfor %}
			</div>
			<div id="submit">
				<input type="submit" id="submitBtn" value="Valider">
			</div>
		</form>
		
	</div>
	
</body>
</html>